@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Venera500';
    src:  url('/assets/fonts/Venera500.woff') format('woff'),
    url('/assets/fonts/Venera500.svg#Venera500') format('svg'),
    url('/assets/fonts/Venera500.eot'),
    url('/assets/fonts/Venera500.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}.btn {
  @apply font-mono text-xs leading-loose tracking-wider duration-500 ease-in-out;
}

header {
    @apply bg-neutral-700 text-white;
}
h1  {
    @apply text-4xl font-bold;
}
h2  {
    @apply text-2xl font-bold w-full pb-2;
}
.flickity-page-dots .dot {
    @apply w-3 h-3 rounded-full bg-primary !important;
}
h2:after:not(.clean-header) {
    @apply content-[''] block w-20 border-b-2 mt-2 border-primary;
}
h2.heading-centered:after {
    @apply text-center mx-auto;
}
h3  {
    @apply text-xl font-bold;
}
footer h3 {
    @apply text-lg mb-2;
}
h4  {
    @apply text-sm font-bold;
}
footer > * {
    @apply text-xs;
}
.container {
    @apply max-w-screen-xl mx-auto px-4 md:px-8;
} 
.flickity-viewport {
    @apply h-[500px] overflow-y-visible !important;
    }
.carousel-cell > div {
    @apply flex flex-col w-[220px] gap-2 mr-8 shadow-md rounded-md;
}
.carousel-cell img {
    @apply object-cover w-full h-36 object-center;
}
.text-link {
    @apply font-bold hover:underline-offset-1 hover:underline;
}
footer a {
    @apply hover:underline;
}
footer * {
    @apply leading-loose;    
}